<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYIfY8yqBpr9W7hV04BQH18QXtYygi0C0">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Original+Surfer" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <script src="/js/client.js" charset="utf-8"></script>
</head>
<body <% if (locals.path === "/") { %>class="hide-nav"<% } %>>
  <% if (locals.path === "/") { %>
    <video id="video" class="videoInsert">
      <source src="/images/homepage-video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
  <% } %>
  <header>
    <nav class="navbar navbar-toggleable-md navbar-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01" >
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
          <li class="nav-item active">
            <a class="nav-link" href="/map">Surf spots <span class="sr-only">(current)</span></a>
          </li>
          <% if (locals.isLoggedIn) { %>
            <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% } else { %>
              <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
              </li>
              <% } %>
            </ul>
          </div>
        </nav>
      </header>
      <main>
        <% for (const type in messages) { %>
          <p class="alert alert-<%= type %>"<%= messages[type] %></p>
          <% } %>
          <%- body %>
        </main>
        <footer>
          <p class="container">Made with &hearts; at General Assembly by Lee Noad</p>
        </footer>
      </body>
      </html>
