<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYIfY8yqBpr9W7hV04BQH18QXtYygi0C0">
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">



  <script src="/js/client.js" charset="utf-8"></script>
</head>
<body>
  <header>
    <ul>
      <nav class="navbar navbar-toggleable-md" >
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link btn btn-outline-primary" href="/">Home<a>
            </li>

            <li class="nav-item active">
              <a class="nav-link btn btn-outline-primary" href="/map">Surf spots</a>
            </li>

            <li class="nav-item">
              <a class="nav-link btn btn-outline-primary" href="/spots/new">Add a spot</a>
            </li>

            <% if (locals.isLoggedIn) { %>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/logout">Logout</a>
              </li>
              <% } else { %>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/login">Log In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/register">Register</a>
              </li>
            <% } %>

              </li>
            </ul>
          </div>
        </nav>
      </div>
    </ul>
  </header>
  <main>
    <%- body %>
  </main>
  <footer>
    <p class="container">Made with &hearts; at General Assembly by Lee Noad</p>
  </footer>
</body>
</html>


<%# Bootstrap.
Add responsive Nav bar for home, surf spots, add surf spots, log in/register.
Add grid.%>
