<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>WDI Project 2</title>
  <link rel="stylesheet" href="/css/main.css">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="/js/client.js" charset="utf-8"></script>
</head>
<body>
  <h1>West coast surf spots!</h1>
    <header>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/spots">Surf spots</a></li>
        <li><a href="/spots/new">Add surf spot</a></li>
        <% if (locals.isLoggedIn) { %>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        <% } %>
      </ul>
    </header>
    <main>
      <%- body %>
    </main>
    <footer>
      <p>Made with &hearts; at General Assembly by Lee Noad</p>
    </footer>
  </body>
</html>
