<h1>Add Surf spot</h1>

<form method="post" action="/spots">
  <label for="name">Name</label>
  <input type="text" id="name" name="name">

  <label for="description">Description</label>
  <textarea id="description" name="description"></textarea>

  <label for="image">Image</label>
  <input type="text" id="image" name="image">

  <label for="location">Location</label>
  <input type="text" id="location" name="location">

  <label for="website">Website</label>
  <input type="text" id="website" name="website">

  <input type="submit" value="Submit">
</form>
